body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

h1 {
    color: rgb(128, 0, 87);
    text-align: center;
}

p {
    font-size: 18px;
    color: rgb(139, 0, 93);
    margin: 10px 0; 
}

button {
    background-color: plum;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
    background-color: purple;
}